.picture{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    &__list{
        position: relative;
        left: 150px;
        bottom: 30px;

    }
}

.arrow{
    position: relative;
        left: 20px;
        bottom: 140px;
}